*{
    margin: 0; padding: 0;
}
#q_top{
    display: flex; justify-content: space-between;
    border-bottom: 1px solid #dfdfdf; padding: 20px 0px;
    margin-bottom: 50px;
}
#q_top span{
    display: inline-block; margin-left: 20px;
}
#q_top span h1{
    font-size: 20px; font-weight: 400;
}
#q_top .q_btn{
    margin-right: 40px;
}
#q_top .q_btn input{
    padding: 8px 15px;
    border: 1px solid #dfdfdf;
    background-color: white;
    font-size: 12px;
    border-radius: 5px;
}
#q_top .q_btn .btn_w{
    background-color: #ffac00; color: white;
}
/* q_top end */

#q_bottom{
    margin: 0 auto; width: 50%;
}